@font-face {
    font-family: 'NEOTERIC';
    src: url('../fonts/NEOTERIC-Bold.eot');
    src: url('../fonts/NEOTERIC-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NEOTERIC-Bold.woff2') format('woff2'),
        url('../fonts/NEOTERIC-Bold.woff') format('woff'),
        url('../fonts/NEOTERIC-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dolce';
    src: url('../fonts/DolceVitaLight.eot');
    src: url('../fonts/DolceVitaLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DolceVitaLight.woff2') format('woff2'),
        url('../fonts/DolceVitaLight.woff') format('woff'),
        url('../fonts/DolceVitaLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dolce Vita';
    src: url('../fonts/DolceVita.eot');
    src: url('../fonts/DolceVita.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DolceVita.woff2') format('woff2'),
        url('../fonts/DolceVita.woff') format('woff'),
        url('../fonts/DolceVita.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin:0;
    padding:0;
    font-weight: normal;
}

body {
    height: 100vh; 
    font-family: 'NEOTERIC';
}

header {
    height: 10%;
    display: flex; 
    justify-content: space-between;
    align-items: flex-end;
}

.logo {
    height: fit-content;
    margin-left: 10px;
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 10px;
    height: 15px;
}

header nav ul li{
    display: flex;
}

header nav ul li a {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

header nav ul li a:hover {
    border-bottom: 15px solid black;
}

header nav ul li span {
    margin: 0 10px;
}

section {
    height: 90vh;
    background-image: url(../img/background.jpg);
    background-size: cover;
    display: flex; 
    justify-content: center;
    align-items: center;
}

main section h1 {
    font-family: 'NEOTERIC';
    font-size: 100px;
    font-weight: 200;
    color: white;
    text-align: center;
    line-height: 75px;
}
main section h1:first-line {
    font-family: 'Dolce';
}

section>div {
    display: flex;
}

section>div div {
    width: 150px;
    height: 150px;
    margin: 50px;
    border: 2px solid white;
}

section>a {
    background-color: white;
    padding: 25px;
}

#rotation>div div:first-of-type {
    transform: rotate(45deg);
}

#rotation>div div:nth-of-type(2):hover {
    transform: rotate(45deg);
}

#rotation>div div:nth-of-type(3) {
    transition: 0.5s;
}

#rotation>div div:nth-of-type(3):hover {
    transform: rotate(45deg);
}

#zoom>div div:first-of-type {
    transform: scale(1.25);
}

#zoom>div div:nth-of-type(2) {
    transform: scale(0.75);
}

#zoom>div div:nth-of-type(3) {
    transition: 0.5s;
}

#zoom>div div:nth-of-type(3):hover {
    transform: scaleY(1.50);
}

#inclinaison>div div:first-of-type {
    transform: skewX(15deg);
}

#inclinaison>div div:nth-of-type(2) {
    transform: skewY(15deg);
}

#inclinaison>div div:nth-of-type(3) {
    transition: 0.5s;
}

#inclinaison>div div:nth-of-type(3):hover {
    transform: skewX(15deg) skewY(15deg);
}

#deplacement>div div:first-of-type {
    transform: translate(20px, 35px);;
}

#deplacement>div div:nth-of-type(2) {
    transform: translate(20px, -20px);
}

#deplacement>div div:nth-of-type(3) {
    transition: 0.5s;
}

#deplacement>div div:nth-of-type(3):hover {
    transform: translate(-15px, 45px);
}

#origine>div div:first-of-type {
    transform-origin: top 0 left 0;
    transform: scale(1.25);
}

#origine>div div:nth-of-type(2) {
    transform-origin: top 15 left 50;
    transform: translate(15px, -50px);
}

#origine>div div:nth-of-type(3) {
    transition: 0.5s;
}

#origine>div div:nth-of-type(3):hover {
    transform-origin: 30% 70%;
    transform: skewY(15deg);
}