@font-face {
    font-family: 'NEOTERIC';
    src: url('../fonts/NEOTERIC-Bold.eot');
    src: url('../fonts/NEOTERIC-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NEOTERIC-Bold.woff2') format('woff2'),
        url('../fonts/NEOTERIC-Bold.woff') format('woff'),
        url('../fonts/NEOTERIC-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dolce Vita';
    src: url('../fonts/DolceVitaLight.eot');
    src: url('../fonts/DolceVitaLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DolceVitaLight.woff2') format('woff2'),
        url('../fonts/DolceVitaLight.woff') format('woff'),
        url('../fonts/DolceVitaLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dolce Vita';
    src: url('../fonts/DolceVita.eot');
    src: url('../fonts/DolceVita.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DolceVita.woff2') format('woff2'),
        url('../fonts/DolceVita.woff') format('woff'),
        url('../fonts/DolceVita.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin:0;
    padding:0;
}

body {
    height: 100vh; 
    font-family: 'NEOTERIC';
}

header {
    height: 10%;
    display: flex; 
    justify-content: space-between;
    align-items: flex-end;
}

.logo {
    height: fit-content;
    margin-left: 10px;
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 10px;
}

header nav ul li{
    display: flex;
}

header nav ul li a {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

header nav ul li a:hover {
    border-bottom: 10px solid black;
}

header nav ul li span {
    margin: 0 10px;
}

section {
    height: 90vh;
    background-size: cover;
    display: flex; 
    justify-content: center;
    align-items: center;
}

section h1 {
    font-family: 'Dolce Vita';
    font-size: 100px;
    font-weight: 200;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
}